@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-orange-50: oklch(.98 .016 73.684);
  --color-orange-100: oklch(.954 .038 75.164);
  --color-orange-200: oklch(.901 .076 70.697);
  --color-orange-500: oklch(.705 .213 47.604);
  --color-orange-600: oklch(.646 .222 41.116);
  --color-green-50: oklch(.982 .018 155.826);
  --color-green-100: oklch(.962 .044 156.743);
  --color-green-200: oklch(.925 .084 155.995);
  --color-green-600: oklch(.627 .194 149.214);
  --color-green-700: oklch(.527 .154 150.069);
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}
